.fakeimg {
    height: 150px;
    width: 150px;
    background-image: url(../imgs/20160516220714_AeHNF.png);
    background-size:150px 150px;
    float:left;
    margin-top: -75px;
    margin-left: 40px;
}
        
.functionbar1{
    width: 1000px;
    height: 75px;
    background-color:gray;
}

.functionbar1 p{
    position:absolute;
    margin-top:50px;
    margin-left:205px;
}

.functionbar2{
    width: 775px;
    height: 50px;
    background-color:#aaa;
}
    
.lunimg{
    height:250px;
    width: 1000px;
}
    
.deliver{
    height: auto;
    width: 1000px;
    overflow:hidden;
}

.deliver-contain{
    height: auto;
    width: 775px;
    float:left;
    margin-top:10px;
}

#app {
    width: 775px;
    height: auto;
    border: solid 1px #CCCCCC;
}

#main {
    width: 750px;
    height: auto;
    position: relative;
}

#leftDiv {
    width: 130px;
    height: 250px;
    /*border-top:solid 1px #CCCCCC;*/
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #FBFBFD;
}

#rightDiv {
    width: 620px;
    height: auto;
    position: relative;
    left: 130px;
    background-color: aqua;
}

#right-topDiv {
    width: 620px;
    height: 220px;
    position: relative;
    left: 130px;
    top: 0px;
    z-index: 0;
}

#right-centerDiv {
    width: 620px;
    height: 30px;
    position: relative;
    left: 130px;
    top: 0px;
    z-index: 1;
}

#right-bottomDiv {
    width: 620px;
    height: auto;
    position: relative;
    left: 130px;
    top: 0px;
    z-index: 1;
}

#imgBG {
    width: 90px;
    height: 90px;
    border: solid #CCCCCC 1px;
    margin-top: 20px;
    margin-left: 19px;
}

#img {
    width: 84px;
    height: 84px;
    margin-top: 3px;
    margin-left: 3px;
}

#table {
    height: 64px;
    text-align: center;
}

#aName {
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
    color: black;
}

#btnReport {
    color: #999999;
    background: none;
    border: none;
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 230px;
}

#labL {
    color: #999999;
    background: none;
    border: none;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 200px;
}

#labTime {
    color: #999999;
    background: none;
    border: none;
    position: relative;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 80px;
}

#btnReply {
    color: #999999;
    background: none;
    border: none;
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 20px;
}