.picture{
    width:100%;
    height:210px;
}

.rotation{
    width:620px;
    height:210px;
}

.rotation_img{
    width:620px;
    height:210px;
}

.rotation_img img{
    width:620px;
    height:210px;
}

.sumBar{
    padding:0;
    margin:0;
    width:372px;
    height:210px;
    margin-top:-211px;
    margin-left:630px;
    background-image: url(../imgs/num.png);
    background-repeat:no-repeat;
    background-size:372px 210px;
    overflow:hidden;
}

.num{
    width:260px;
    height:29px;
    margin-left:55px;
    margin-top:87px;
}

.num_show{
    padding:0;
    margin:0;
    width:20px;
    height:29px;
    text-align:center;
    line-height:29px;
    background-image:url('../imgs/num副本 3.png');
    float:left;
    margin-left:11px;
}

.content{
    width:100%;
    height:auto;
    margin-top:10px;
    overflow:hidden;
}

.myselfInfo{
    width:216px;
    height:auto;
    border:1px solid gray;
    float:left;
}

.info{
    width:100%;
    height:70px;
    background-color:#e4e6eb;
    font-size:12px;
    overflow:hidden;
}

.info_div{
    margin-left:120px;
    margin-top:20px;
}

.img_head{
    height:100px;
    width:100px;
    margin-left:10px;
    margin-top:-50px;
    background-image:url(../imgs/20160516220714_AeHNF.png);
    background-size:100px 100px;
}

.operation{
    width:100%;
    height:auto;
    background-color:#e4e6eb;
}

.sign,.collection{
    padding:0;
    font-size:12px;
    height:30px;
    width:90px;
    margin-left:20px;
    margin-top:20px;
}

.operation span{
    float:right;
    margin-right:80px;
    margin-top:25px;
}

.calendar{
    width:auto;
    height:auto;
    margin-top:20px;
}

.barType{
    width:776px;
    height:277px;
    border:1px solid gray;
    margin-left:10px;
    float:left;
}

.qipaBar{
    width:100%;
    height:150px;
}

.barTitle{
    width:auto;
    height:30px;
    margin-left:10px;
    line-height:30px;
}

.oneBar{
    height:120px;
    width:50%;
}

.onebar_img{
    height:100px;
    width:100px;
    background-image:url(../imgs/qipa_one.jpeg);
    background-size:100px 100px;
    position:absolute;
    margin-top:10px;
    margin-left:10px;
}

.onebar_txt{
    height:100px;
    width:257px;
    position:absolute;
    margin-top:10px;
    margin-left:120px;
}

.twobar_img{
    height:100px;
    width:100px;
    background-image:url(../imgs/qipa_two.jpg);
    background-size:100px 100px;
    position:absolute;
    margin-top:10px;
    margin-left:10px;
}

.twobar_txt{
    height:100px;
    width:257px;
    position:absolute;
    margin-top:10px;
    margin-left:120px;
}

.twoBar{
    height:120px;
    width:50%;
    margin-left:50%;
    margin-top:-120px;
}

.hotBar{
    width:100%;
    height:125px;
}

.hotBar_bar{
    height:95px;
    width:100%;
}

.hotBar_div{
    height:90px;
    width:193px;
    border:1px solid gray;
    float:left;
    margin-right:5px;
}

.hotBar_div img{
    height:84px;
    width:84px;
    float:left;
    margin-top:3px;
    margin-left:3px;
}

.dynamic{
    width:551px;
    height:auto;
    margin-left:10px;
    margin-top:10px;
    float:left;
}

.dynamic_hot,.dynamic_own{
    width:100%;
    margin-top:-20px;
    float:left;
}

.dynamic_hot div{
    width:540px;
    margin-left:2px;
}

.dynamic_hot_barName{
    height:40px;
    line-height:40px;
    font-size:20px;
    color:black;
}

.dynamic_hot_postName{
    height:40px;
    line-height:40px;
    font-size:16px;
    color:blue;
}

.dynamic_hot_postContent {
    height:60px;
    line-height:60px;
    font-size:14px;
    color:black;
}

.dynamic_hot_postImg {
    height:auto;
}

.dynamic_hot_postAuthor{
    height:30px;
    line-height:30px;
    font-size:12px;
    color:gray;
}